<launch>

	<include file="$(find ros_arduino_python)/launch/arduino.launch" />

    <!-- tf_broadcaster launch file -->
    <node pkg="elsa"
        type="tf_broadcaster"
        name="robot_tf_publisher"
        output="screen">
    </node>
    <!-- ticks_pub launch file -->
    <node pkg="elsa"
        type="ticks_pub.py"
        name="ticks_pub"
        output="screen">
    </node>
</launch>

    <!-- odom_pub launch file -->
<!--     <node pkg="elsa" -->
<!--         type="odom_pub.py" -->
<!--         name="odom_pub" -->
<!--         output="screen"> -->
<!--     </node> -->



