<launch>

    <!-- tf_broadcaster launch file -->
    <node pkg="elsa"
        type="tf_broadcaster"
        name="robot_tf_publisher"
        output="screen">
    </node>
    <!-- imu_pub launch file -->
    <node pkg="elsa"
        type="imu_talker"
        name="imu_talker"
        output="screen">
    </node>

    <include file="$(find ros_arduino_python)/launch/arduino.launch" />
    <include file="$(find ydlidar)/launch/lidar.launch" />

</launch>


    <!-- odom_pub launch file -->
<!--     <node pkg="elsa" -->
<!--         type="odom_pub.py" -->
<!--         name="odom_pub" -->
<!--         output="screen"> -->
<!--     </node> -->



    <!-- image_pub launch file -->
<!--     <node pkg="elsa" -->
<!--         type="image_pub" -->
<!--         name="image_pub" -->
<!--         output="screen"> -->
<!--     </node> -->

