<launch>
    <!-- tf_broadcaster launch file -->
    <node pkg="elsa"
        type="tf_broadcaster"
        name="robot_tf_publisher"
        output="screen">
    </node>
    <!-- tf_broadcaster launch file -->
    <node pkg="elsa"
        type="ticks_pub"
        name="ticks_pub"
        output="screen">
    </node>
    <!-- tf_broadcaster launch file -->
    <node pkg="elsa"
        type="odom_pub"
        name="odom_pub"
        output="screen">
    </node>
</launch>



